* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

body {
  background: #d7d7db;
  font-family: "Montserrat";
}

main {
  text-align: center;
}

section {
  background: #fff;
  padding: 1rem;
}

section + section {
  margin-top: 1rem;
}

.error {
  display: none;
  padding: 0.5rem;
  background: red;
  color: #fff;
  margin: 0.5rem 0;
}

.first__section {
  border-radius: 10px;
}

.first__section__heading {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.first__section__heading label {
  font-size: 13px;
}

.first__section__heading input {
  width: 100%;
  max-width: 20px;
}

.first__section .table {
  width: 100%;
}

.first__section .table tr {
  display: flex;
  justify-content: space-between;
}

.first__section .table input,
.first__section .table select {
  width: 100px;
  flex-basis: 100%;
}

button {
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

.third__section {
  display: flex;
  justify-content: center;
}

.third__section div {
  display: flex;
  align-items: center;
}

.third__section div p {
  margin-left: 20px;
}

.third__section div + div {
  margin-left: 20px;
}

.result__continue {
  display: none;
}

.display_result {
  display: none;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: 1000px;
  padding: 2rem;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal div {
  display: flex;
  justify-content: space-between;
}

.modal div input {
  border: none;
  border-bottom: 2px solid black;
}

.modal input {
  width: 50%;
}
