@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto 2rem;
  max-width: 740px;
}

button {
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #5278fe;
  color: #fff;
  font-weight: 600;
}

button:hover {
  background: #6c8cfe;
}

body {
  font-family: "Open Sans";
  text-align: center;
  font-size: 15px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background: linear-gradient(45deg, #3964fe, #47c3fd);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  z-index: -1000;
}

.bg title button {
  margin-top: 10px;
}

.title {
  color: #fff;
  margin: 3rem 0 2rem;
}

.title h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.title p {
  max-width: 470px;
  margin: 0 auto;
}

section {
  background: #fff;
  padding: 1rem;
  -webkit-box-shadow: 0 0 10px rgba(128, 128, 128, 0.315);
          box-shadow: 0 0 10px rgba(128, 128, 128, 0.315);
}

section + section {
  margin-top: 1rem;
}

#formError {
  color: #ee3838;
  font-size: 12px;
  margin-bottom: 2rem;
}

.error {
  display: none;
  padding: 0.5rem;
  background: #ee3838;
  color: #fff;
  margin: 0.5rem 0;
  border-radius: 10px;
}

.calc__main {
  border-radius: 10px;
}

.calc__main__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calc__main__heading label {
  font-size: 13px;
}

.calc__main__heading input {
  width: 100%;
  max-width: 30px;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #c5c5c5;
  padding: 0.2rem 0.1rem;
}

.calc__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  font-size: 12px;
}

.calc__display div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc__display div p {
  margin-left: 20px;
}

.calc__display div + div {
  margin-left: 20px;
}

.result__continue {
  display: none;
  border-radius: 10px;
}

.result__continue div {
  margin-top: 1rem;
}

.display__result {
  display: none;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.692);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal {
  background: white;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 740px;
  padding: 2rem;
}

.modal h2 {
  margin-bottom: 1rem;
}

.modal div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.modal div label {
  text-align: left;
}

.modal div input {
  padding: 0.5rem 0.5rem;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}

.modal div + div {
  margin-top: 1rem;
}

.modal button {
  margin-top: 2rem;
}

.display {
  margin: 2rem 0;
}

.display__output__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

.display__output__container select,
.display__output__container input {
  width: 100%;
  border: 1px solid #c5c5c5;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

.display__output__container ~ * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.display__output__container + .display__output__container {
  margin-top: 0.3rem;
}

.display__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0.5rem;
}

.display__heading h3 {
  width: 100%;
  font-size: 13px;
}

.display__heading ~ * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
}

.display__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.display__result__content {
  background: white;
  border-radius: 10px;
  width: 95%;
  max-width: 740px;
  padding: 2rem;
}

.display__result__content div {
  margin: 1rem 0;
}

.display__result__content div p + p {
  margin-top: 0.5rem;
}

.modalResult-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.692);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  display: none;
}

#modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  top: 0;
}

#modal .guide-modal {
  width: 60%;
  color: #060614;
  position: fixed;
  top: 10px;
  background: #fff;
  z-index: 1;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
  overflow-y: scroll;
  -webkit-box-shadow: 0px 10px 0px 10px rgba(211, 211, 211, 0.5);
          box-shadow: 0px 10px 0px 10px rgba(211, 211, 211, 0.5);
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

#modal .guide-modal span {
  font-size: 30px;
  color: #3964fe;
  background: #e9e9e9;
  padding: 0px 10px;
  border-radius: 100%;
  cursor: pointer;
  position: fixed;
  top: 0;
  height: 40px;
}

#modal .guide-modal .modal__content ul li {
  list-style: none;
  font-size: 15px;
  padding: 10px;
  font-weight: lighter;
  text-align: left;
}

#modal .guide-modal .modal__content ul li span {
  background: #d0dfff;
  padding: 3px;
  border-radius: 2px;
}

#modal .guide-modal .modal__content ul li b {
  font-size: 20px;
  opacity: .3;
}

#modal .modal__content h2 span {
  color: #5278fe;
}

@media screen and (max-width: 700px) {
  #modal .guide-modal {
    width: 90%;
  }
  #modal .guide-modal .modal__content h2 {
    font-size: 17px;
  }
}

@media screen and (max-width: 535px) {
  .guide-modal .modal__content {
    margin-top: 10vh;
  }
  .guide-modal .modal__content ul li {
    padding: 5px;
  }
}

@media screen and (max-width: 310px) {
  .modal__content {
    margin-top: 30vh;
  }
}

footer {
  margin: auto;
  font-size: 12px;
  width: 90%;
}

@media (min-width: 500px) {
  .calc__display {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */