* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$br: 10px;

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
}

body {
<<<<<<< HEAD
  background: hsl(240, 5%, 85%);
  font-family: "Montserrat";
=======
  background-color: #330033;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='288' height='288' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");

>>>>>>> f411597b4438e9b2f0c16101760180f464a072b6
}

main {
  text-align: center;
}

section {
  background: #fff;
  padding: 1rem;
}

section + section {
  margin-top: 1rem;
}

.error {
  display: none;
  padding: 0.5rem;
  background: red;
  color: #fff;
  margin: 0.5rem 0;
}

.first__section {
  border-radius: 10px;

  &__heading {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    label {
      font-size: 13px;
    }

    input {
      // display: block;
      width: 100%;
      max-width: 20px;
    }
  }

  .table {
    width: 100%;

    tr {
      display: flex;
      justify-content: space-between;
    }

    input,
    select {
      width: 100px;
      flex-basis: 100%;
    }
  }
}

button {
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
// .second__section {
// }

.third__section {
  display: flex;
  justify-content: center;

  div {
    display: flex;
    align-items: center;

    p {
      margin-left: 20px;
    }
  }

  div + div {
    margin-left: 20px;
  }
}

.result__continue {
  display: none;
}

.display_result {
  display: none;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 90%;
  max-width: 1000px;
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    justify-content: space-between;

    input {
      border: none;
      border-bottom: 2px solid black;
    }
  }

  input {
    width: 50%;
  }
}
