$br: 10px;
$red: rgb(238, 56, 56);
$maxWidth: 740px;
$shade: #c5c5c5;

@mixin modalStyle() {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.692);
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: 0 auto 2rem;
  max-width: $maxWidth;
}

button {
  padding: 0.4rem 1.2rem;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: lighten(#3964fe, 5%);
  color: #fff;
  font-weight: 600;

  &:hover {
    background: lighten(#3964fe, 10%);
  }
}

body {
  font-family: "Open Sans";
  text-align: center;
  font-size: 15px;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 500px;
  width: 100%;
  background: linear-gradient(45deg, #3964fe, #47c3fd);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
  z-index: -1000;
}

.title {
  color: #fff;
  margin: 3rem 0 2rem;

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    max-width: 470px;
    margin: 0 auto;
  }
}

section {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.315);
}

section + section {
  margin-top: 1rem;
}

#formError {
  color: $red;
  font-size: 12px;
  margin-bottom: 2rem;
}

.error {
  display: none;
  padding: 0.5rem;
  background: $red;
  color: #fff;
  margin: 0.5rem 0;
  border-radius: $br;
}

.calc__main {
  border-radius: $br;

  &__heading {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    label {
      font-size: 13px;
    }

    input {
      // display: block;
      width: 100%;
      max-width: 30px;
      border-radius: $br - 5px;
      text-align: center;
      border: 1px solid $shade;
      padding: 0.2rem 0.1rem;
    }
  }
}

.calc__display {
  display: flex;
  justify-content: center;
  border-radius: $br;
  font-size: 12px;

  div {
    display: flex;
    align-items: center;

    p {
      margin-left: 20px;
    }
  }

  div + div {
    margin-left: 20px;
  }
}

.result__continue {
  display: none;
  border-radius: $br;

  div {
    margin-top: 1rem;
  }
}

.display__result {
  display: none;
}

.modal-bg {
  @include modalStyle();
  display: flex;
}

.modal {
  background: white;
  border-radius: $br;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  max-width: $maxWidth;
  padding: 2rem;

  h2 {
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    label {
      text-align: left;
    }

    input {
      padding: 0.5rem 0.5rem;
      border: 1px solid $shade;
      border-radius: $br - 5px;
    }
  }

  div + div {
    margin-top: 1rem;
  }

  button {
    margin-top: 2rem;
  }
}

.display {
  margin: 2rem 0;
  &__output {
    &__container {
      display: flex;
      gap: 10px;

      select,
      input {
        width: 100%;
        border: 1px solid $shade;
        border-radius: $br - 5;
        padding: 0.2rem 0.5rem;
      }

      ~ * {
        // width: 100%;
        flex: 1 1 0px;
      }
    }

    &__container + &__container {
      margin-top: 0.3rem;
    }
  }

  &__heading {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0.5rem;

    h3 {
      width: 100%;
      font-size: 13px;
    }

    ~ * {
      flex: 1 1 0px;
    }
  }
}

.display__result {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__content {
    background: white;
    border-radius: 10px;

    width: 95%;
    max-width: $maxWidth;
    padding: 2rem;

    div {
      margin: 1rem 0;

      p + p {
        margin-top: 0.5rem;
      }
    }
  }
}

.modalResult-bg {
  @include modalStyle();
  margin-top: 0;
  display: none;
}

footer {
  // position: absolute;
  // bottom: 10px;
  margin: auto;
  font-size: 12px;
  width: 90%;
}

@import "medium";
